{%extends 'website/base.html'%}

{% load static %}

{%block content%}


    <!-- Hero Section -->
{%include 'website/hero_section.html'%}

    <!-- About Us Section -->
    {%include 'website/about_us.html'%}

<!--  SITE SECTION FOR MOTIVATING-->
    {% include 'website/site_section.html' %}
<!--  TEAM DISPLAYING SECTION   -->
    {% include 'website/team.html' %}
<!--  PORTFOLIO SECTION -->
<!--    {% include 'website/portfolio.html' %}-->
    {% include 'website/service.html' %}
    {% include 'website/testimonials.html' %}
    {% include 'website/pricing.html' %}
    {% include 'website/about.html' %}
    {% include 'website/blog.html' %}
    {% include 'website/contact_us.html' %}




{%endblock content%}