
{% load static %}


 <script src="{% static "js/jquery-3.3.1.min.js"  %}"></script>
  <script src="{% static "js/jquery-ui.js"  %}"></script>
  <script src="{% static "js/popper.min.js"  %}"></script>
  <script src="{% static "js/bootstrap.min.js"  %}"></script>
  <script src="{% static "js/owl.carousel.min.js"  %}"></script>
  <script src="{% static "js/jquery.countdown.min.js"  %}"></script>
  <script src="{% static "js/jquery.easing.1.3.js"  %}"></script>
  <script src="{% static "js/aos.js"  %}"></script>
  <script src="{% static "js/jquery.fancybox.min.js"  %}"></script>
  <script src="{% static "js/jquery.sticky.js"  %}"></script>
  <script src="{% static "js/isotope.pkgd.min.js"  %}"></script>
  <script src="{% static "js/main.js"  %}"></script>
  <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"8cfc4deb59a9c908","serverTiming":{"name":{"cfExtPri":true,"cfL4":true}},"version":"2024.8.0","token":"cd0b4b3a733644fc843ef0b185f98241"}' crossorigin="anonymous"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Smooth scroll to sections when clicking navbar links
    const links = document.querySelectorAll('.nav-link');

    links.forEach(link => {
      link.addEventListener('click', function(event) {
        event.preventDefault(); // Prevent default anchor click behavior
        const targetId = this.getAttribute('data-target');
        const mainUrl = window.location.origin; // Get the main URL

        // Update the URL with the hash
        window.location.href = `${mainUrl}${targetId}`;
      });
    });

    // Check if there's a hash in the URL on load
    if (window.location.hash) {
      const targetElement = document.querySelector(window.location.hash);
      if (targetElement) {
        targetElement.scrollIntoView({
          behavior: 'smooth',
          block: 'start',
          inline: 'nearest'
        });
      }
    }
  });
</script>