  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container-fluid px-5">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h1><a href="/" style="color:white;">WeCanDO<span style="color:red">Lab</span></a></h1>
            <p>This is not just a website, it's a dream project,whenever i create any project i always wanted to show it
              to others but it's very difficult for me to do that because i had no platform for sharing my projects and
              showcase my skils that's why i always wanted a website or PortFolio where i can show my all
              skils,experience,certificates,Profiles and Achievements on different platforms.This is the reason i
              created this website as my Dream Project.
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful GitHub Repos</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i> <a
                  href="https://github.com/AkhlaqAltaf/Cool-Front-End-Template">Cool-Front-End-Templates</a></li>
              <li><i class="fa fa-angle-right"></i> <a
                  href="https://github.com/AkhlaqAltaf/learn_with_game_flutterFlame">Flutter Project Learn With Games</a></li>
              <li><i class="fa fa-angle-right"></i> <a
                  href="https://github.com/AkhlaqAltaf/FloodControlGame">Java Project</a></li>
              <li><i class="fa fa-angle-right"></i> <a
                  href="https://github.com/AkhlaqAltaf/Window_Shop">Web-Development-Path-And-Resources</a>
              </li>
              <li><i class="fa fa-angle-right"></i> <a
                  href="https://github.com/AkhlaqAltaf/PostsData">Open-Source-Programs</a></li>
              <li><i class="fa fa-angle-right"></i> <a
                  href="https://github.com/AkhlaqAltaf/JavaFXPrjoject">DSA-Path-And-Important-Questions</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Django Projects</h4>
            <ul>
              
              <li>
                <i class="fa fa-angle-right"></i> <a href="/myblog/">WeCanDo Lab Blog</a>
              </li>
              <li>
                <i class="fa fa-angle-right"></i> <a href="/ourteams/">MyDynamicGallery App</a>
              </li>
              <li>
                <i class="fa fa-angle-right"></i> <a href="/calculator/">Calculator App</a>
              </li>
              <li>
                <i class="fa fa-angle-right"></i> <a href="/stringAnalyzer/">StringAnalyzer App</a>
              </li>
              <li>
                <i class="fa fa-angle-right"></i> <a href="/ToDoListApp/">ToDoList App</a>
              </li>
             

            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Front End Projects</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i> <a href="https://cool-front-end-templates.netlify.app/">Cool Front
                  End Templates</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="https://amazing-css-effects.netlify.app/">Amazing Css
                  Effects</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="https://amazing-js-projects.netlify.app/">Amazing Js
                  Projects</a></li>
            </ul>

          </div>
          <div class="col-12 mx-auto">
            <div class="social-links col-lg-3 col-sm-12 mx-auto">
              <a href="https://github.com/AkhlaqAltaf" class="twitter"><i class="fa fa-github"></i></a>
              <a href="https://www.facebook.com/akhlaqahmad.mukhlis" class="facebook"><i
                  class="fa fa-facebook"></i></a>

            

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>WeCanDo Lab</strong>. All Rights Reserved
      </div>
      <div class="credits">

        Designed by <a href="" style="color:#f82249">Akhlaq Altaf</a>
      </div>
    </div>
  </footer><!-- #footer -->
