  .team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .team-member {
    text-align: center;
  }

  .team-img {
    width: 100%;
    max-width: 220px; /* Decreased the max-width for better mobile display */
    height: 220px; /* Adjust the height accordingly */
    object-fit: cover;
    border-radius: 5%;
    margin: 0 auto; /* Center the image */
  }

  /* Media query for mobile devices */
  @media (max-width: 576px) {
    .team-img {
      max-width: 150px;
      height: 150px;
    }

    .team-member {
      margin-bottom: 20px;
    }
  }